services:
  ishtech-springboot-multidb-app-h2:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        DB_TO_USE: h2
        SERVER_PORT: ${SERVER_PORT:-8080}
        APP_VERSION:
    image: ishtech-springboot-multidb-app:h2${APP_VERSION:+"-"$APP_VERSION}
    container_name: ishtech_springboot_multidb_app_h2
    environment:
      - SPRING_PROFILES_ACTIVE=h2
    ports:
      - "${SERVER_PORT:-8080}:${SERVER_PORT:-8080}"
