services:
  ishtech-springboot-multidb-app-h2:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        DB_TO_USE: h2
        SERVER_PORT: ${SERVER_PORT_H2:-${SERVER_PORT:-8080}}
        APP_VERSION:
    image: muneer2ishtech/ishtech-springboot-multidb-app:${APP_VERSION:+$APP_VERSION-}h2
    container_name: ishtech_springboot_multidb_app_h2
    environment:
      - SPRING_PROFILES_ACTIVE=h2
    ports:
      - "${SERVER_PORT_H2:-${SERVER_PORT:-8080}}:${SERVER_PORT_H2:-${SERVER_PORT:-8080}}"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${SERVER_PORT_H2:-${SERVER_PORT:-8080}}/actuator/health"]
      start_period: 60s
